.nano {
  height: calc(100vh - 116px);
}

.ranking-loading {
  display: table;
  text-align: center;
  width: 100%;
  height: calc(100vh - 100px);
}
.ranking-loading > i {
  display: table-cell;
  vertical-align: middle;
}
