.track {
  display: flex;
  border-bottom: 1px dotted #b9b9b5;
  padding: 6px 0;
  color: #0a0a0a;
}

.track:hover {
  background: #E0DFE4;
  cursor: pointer;
}

.track-image img {
  max-width: 80px;
}

.track-info {
  font-size: 11px;
  padding-left: 5px;
}

.track-info h6 {
  font-size: 0.8rem;
  font-weight: 600;

  margin: 0;
}

.track-info span {
  display: block;
}
